h1 {
    color: white;
    margin: 10px;

    /* width: 250px; */
    /* text-align: left; */
}

label {
    margin-right: 16px;
    color: #BB6464;
}

input {
    color: white;
    height: 30px;
    width: 250px;
    margin-right: 16px;
    text-align: left;
    margin-left: 20px;
}

button {
    background-color: red;
    color: white;
    border: 2px;
    width: 200px;
    height: 30px;

    margin: auto;
}

form {
    text-align: center;
    /* width: 350px;
    border:1px solid white; */
    margin: auto;
}


.container {

    background-color: #C3DBD9;
    /* Fallback color */
    margin: 50px auto;
    padding: 30px;


}

body {
    background-color: #CDB699;
    color: #BB6464;
}

/* *{  all
;
} */